body{
    background-color: rgb(89, 89, 239);
}

.parent-container {
    border: 3px solid black;
    width: 40vw;
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    margin: 0 auto;
    margin-top: 15%;
    border-radius: 12px;
    background-color: rgb(238, 225, 113);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 2%;
}
